---
title: "main page"
metas: "main"
---

!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html.not-ie{:lang => "en"}
  / <![endif]
  %head
    / Basic Meta Tags
    %meta{:charset => "utf-8"}/
    %title OVNI - one page responsive template
    %meta{:content => "your description", :name => "description"}/
    %meta{:content => "your keywords", :name => "keywords"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/


    / Favicon
    %link{ rel: "apple-touch-icon", sizes: "152x152", href: "apple-touch-icon-152x152-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "144x144", href: "apple-touch-icon-144x144-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "114x114", href: "apple-touch-icon-114x114-precomposed.png" }
    %link{ rel: "apple-touch-icon", sizes: "72x72", href: "apple-touch-icon-72x72-precomposed.png" }
    %link{ rel: "apple-touch-icon", href: "apple-touch-icon-precomposed.png" }
    %link{ rel: "shortcut icon", href: "favicon.png" }
    %link{ rel: "icon", type: "image/ico", href: "favicon.ico" }



    / Style css
    = stylesheet_link_tag "style"

    / Google Fonts
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,100,100italic,300|Roboto+Slab:400,100,300,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300", :rel => "stylesheet", :type => "text/css"}/


    / Modernizr js
    = javascript_include_tag "modernizr"

    /[if lt IE 9]
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    :javascript
      (function (d, t) {
        var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
        bh.type = 'text/javascript';
        bh.src = '//www.bugherd.com/sidebarv2.js?apikey=2rdvyhrsh8pd46vszptoxq';
        s.parentNode.insertBefore(bh, s);
        })(document, 'script');
  %body
    /= partial 'partials/tag-manager'
    = yield

    / Footer ends
    = javascript_include_tag "site"
