.container
  #header
    #menu-wide
      %a.m-pikabu-nav-toggle{:"data-role"=>"left"}
        %i.fa.fa-bars.hamburger
    #logo
      = image_tag "axant_web_logo.png"
      %span.logo.responsive_headline
        AXANT
    #claim
      EVERLASTING NOVEL SOFTWARE
    .line
    #payoff
      %h1
        WE <span class="dynamo" data-lines="IMPROVE,PROTOTYPE,BUILD">SUPPORT</span> YOUR DIGITAL PRODUCTS<BR />THROUGH CONTINUOUS REFINEMENT
    #statement
      %h2
        Empowering your business and  turning your idea into the right tailor made solution - architecture, platform, web or mobile app - we ensure it with a successful life.
  = partial "partials/process"