#process
  .viewer
    = image_tag "axant_process.png", class:"process"
  #steps
    %ul
      %li
        .number
          .one
            1
        .content.one
          %h3
            ESTIMATION
          %p
            "I love it when a plan comes together" cit. Nothing is more true than a good job comes with a good plan. We put a special effort and all our experience to estimate and suggest the best way to reach the objective goal. This phase is done with the product owner directly and allows to have a big picture of the overall effort.
      %li
        .number
          .two
            2
        .content.two
          %h3
            LIGHTWEIGHT
          %p
            Our ultimate focus is to create and craft the perfect product. No one more than us cares about what we deliver. We share all the aspects of the projects with the product owners. They are invited to be involved and present as much as they want. So our process allows the flexibility to decide how much this effort could be… lightweight or not
      %li
        .number
          .three
            3
        .content.three
          %h3
            DATA DRIVEN
          %p
            AXANT care about feedbacks. So we need to gather them. This is exactly our approach in the methodology that let us plan and build the project in a continuous iterative evolution. We are adaptive, we plan adaptively and we craft products, taking previous data in consideration.
      %li
        .number
          .four
            4
        .content.four
          %h3
            EVOLUTIVE AUTO MAINTENANCE
          %p
            We take care of our projects and your products as a child. We never let them completely go. On top of traditional preventive and planned maintenance, we also offer a new kind of evolutive maintenance that allows the continuous improvement of the project. 