.m-pikabu-viewport
  .m-pikabu-sidebar.m-pikabu-left
    %ul
      %li.active
        %a{href:"#"}
          HOME
      %li
        %a{href:"#"}
          PROCESS

  .m-pikabu-container
    = partial "partials/header"
